@font-face {
	font-family: 'NexaLight';
	src: url('../fonts/nexa_light-webfont.woff') format('woff');
}

@font-face {
	font-family: 'NexaBold';
	src: url('../fonts/nexa_bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'FeltTipWoman';
	src: url('../fonts/felt_tip_woman-webfont.woff') format('woff');
}
/*Nexa - sans-serif (Arial)
FeltTipWoman - cursive*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: NexaLight, Arial, sans-serif;
	font-size: 62.5%;
}

nav {
	font-size: 1.7rem;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid #dedfe1;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 2.6rem 0;
	z-index: 999;
}

nav a {
	text-decoration: none;
	text-align: center;
	padding: 0 2rem;
	color: #dedfe1;
}

[id="home"], [id="about-me"], [id="portfolio"], [id="contact"] {
	height: 100vh;
	position: relative;
}

/*.home {*/
	[id="home"] {
		background-image: url(../images/back-home.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.logo, .scroll-down {
		text-align: center;
	}

	.wrapper-logo {
		width: 25%;
		margin: 0 auto;
	}

	.logo img {
		margin-top: 13rem;
		/*transform: scale(0.8);*/
		margin-bottom: 3.2rem;
		width: 100%;
		height: auto;
	}

	.logo h1 {
		font-size: 4.26rem;
		color: #f1f1f1;
		font-weight: normal;
		text-transform: uppercase;
	}

	.logo h1 span {
		font-family: NexaBold, Arial, sans-serif;
	}

	.scroll-down {
		clear: both;
		margin-top: 3rem;
	}

	.scroll-down a {
		color: #dedfe1;
		font-size: 1.28rem;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		display: block;
		margin-bottom: 1rem;
		letter-spacing: 2px;
	}

	.scroll-down svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	[id="about-me"], .gallery {
		width: 90%;
		margin: 0 auto;
	}

	.wrapper {
		display: flex;
	}

	.about {
		justify-content: center;
		flex-direction: row-reverse;
	}

	.content, .photo {
		width: 50%;
	}

/*.photo {
	float: left;
	margin-top: 12.4rem;
	}*/

	.photo img {
		/*transform: scale(0.7);*/
	/*width: 77.1rem;
	height: 70rem;*/
	width: 100%;
	height: auto;
	padding-left: 18rem;
	padding-top: 10rem;
}

.content {
	margin-top: 12.4rem;
	padding-left: 5rem;
}

.content h2, [id="portfolio"] h2 {
	text-transform: uppercase;
	font-size: 4rem;
	line-height: 1.8;
	font-weight: normal;
	letter-spacing: 5px;
}

.content p {
	font-size: 1.7rem;
	line-height: 2;
	padding-right: 15rem;
	padding-bottom: 3rem;
}

.content p:last-child {
	font-family: FeltTipWoman, cursive;
	font-size: 2.56rem;
	font-weight: bold;
}

[id="about-me"] .scroll-down, [id="portfolio"] .scroll-down {
	margin-top: 1rem;
}

[id="portfolio"] h2 {
	text-align: center;
	padding-top: 9rem;
	color: #f1f1f1;
}

[id="portfolio"] {
	background-image: url(../images/back-portfolio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.gallery {
	width: 90%;
	margin-left: 13.5rem;
}

.gallery img {
	padding: 2.5rem;
	width: 19%;
}

[id="contact"] {
	position: relative;
}

.copy {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
}

.mail {
	margin-top: 15rem;
}

.mail p, .phone p, .social p {
	font-size: 2.1rem;
	text-align: center;
	padding: 1.3rem;
	letter-spacing: 5px;
}

[id="contact"] span {
	font-family: NexaBold;
	font-size: 3rem;
}

.social a {
	padding: 1.5rem;
}

.social a:first-of-type {
	margin-left: 2.0rem;
}

.copyright {
	font-size: 1.28rem;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid #dedfe1;
	width: 90%;
	text-align: center;
	padding: 2.6rem 0;
	color: #bebebe;
}

@media (min-width: 1600px) {
	nav {
		font-size: 2.4rem;
		padding: 4rem 0;
	}
	.logo img {
		margin-top: 14rem;
		margin-bottom: 4.6rem;
	}
	.logo h1 {
		font-size: 6rem;
	}
	.scroll-down a {
		font-size: 1.8rem;
		margin-bottom: 3rem;
	}
	.scroll-down svg {
		width: 3.2rem;
		height: 3.2rem;
	}
	.photo img {
		padding-left: 22rem;
		padding-top: 18rem;
	}
	.content {
		margin-top: 16rem;
		padding-left: 5rem;
	}
	.content h2, [id="portfolio"] h2 {
		font-size: 6rem;
		line-height: 2;
	}
	.content p {
		font-size: 2.4rem;
	}
	.content p:last-child {
		font-size: 3.6rem;
	}
	[id="portfolio"] h2 {
		padding-top: 6rem;
	}
	.gallery {
		margin-left: 12rem;
	}
	.mail {
		margin-top: 10rem;
	}
	.mail p, .phone p, .social p {
		font-size: 3rem;
		padding: 2rem;
	}
	[id="contact"] span {
		font-size: 4.8rem;
	}
	.social a {
		padding: 2rem;
	}
	.copyright {
		font-size: 1.8rem;
		padding: 4rem 0;
	}
}
