.c-header {
	height: 100vh;
	position: relative;
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.c-header__logo-img {
	position: absolute;
	top: 5rem;
	left: 20rem;
}

.c-header__menu {
	text-align: right;
	padding-top: 7rem;
	padding-right: 12rem;
	margin-bottom: 8.5rem;
}

.c-header__menu-item {
	margin: 2rem;
	text-decoration: none;
	letter-spacing: 0.05rem;
	color: $white;
	font-size: $small-font;
	line-height: 1.7;
	text-transform: uppercase;
}

.c-header__title {
	text-align: left;
	color: $white;
	font-size: 5rem;
	letter-spacing: $letter-spacing;
	padding: 0 49rem 0 20rem;
	line-height: 1.16;
	text-transform: capitalize;
	margin-bottom: 4rem;
}

.c-header__text {
	text-align: left;
	color: $white;
	font-size: 1.8rem;
	letter-spacing: $letter-spacing;
	line-height: 1.3;
	padding: 0 38.5rem 0 20rem;
	margin-bottom: 6rem;
}

.c-header__footer {
	margin: 0 auto;
	margin-bottom: 4.5rem;
}

.c-header__list {
	margin-bottom: 5rem;
	margin-left: 20rem;
}

.c-header__list-item {
	display: inline-block;
	list-style: none;
	&:not(:last-child) {
		margin-right: 5rem;
	}
}

.c-header__list-item-digit {
	display: inline-block;
	line-height: 1.28;
	font-size: 50px;
	margin-right: 15px;
	&.c--first {
		color: $green;
	}
	&.c--second {
		color: $blue;
	}
	&.c--third {
		color: $orange;
	}
}

.c-header__list-item-text {
	color: #999998;
	font-size: $medium-font;
	line-height: 1.25;
	letter-spacing: $letter-spacing;
	display: inline-block;
	width: 7rem;
}

.c-button {
	&.c--button-circle {
		background-color: transparent;
		border: $border-width solid #9c9c9c;
	}
	&.c-header__button-down {
		margin-bottom: 45rem;
		&.c--button-circle {
			&::before {
				border-top-color: #989898;
				border-right-color: #989898;
				left: 50%;
				top: calc(50% - 1px);
				transform: translate(-50%, -50%) rotate(135deg);
			}
		}
	}
}
