/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

* {
	box-sizing: border-box;
}

.pageWrapper {
	max-width: 960px;
	margin: 0 auto;
}

.banner {
	background-color: lightblue;
	height: 200px;
	margin: 10px auto;
}

.banner div:first-child, .banner div:nth-child(2) {
	display: inline-block;
	margin-top: 50px;
}

.banner div:first-child {
	background-color: red;
	width: 15%;
	height: 100px;
	float: left;
	margin-left: 2%;
}

.banner div:nth-child(2) {
	background-color: darkred;
	width: 60%;
	height: 100px;
	float: right;
	margin-right: 2%;
}

.sidebar {
	background-color: lightgreen;
	width: 20%;
	height: 1000px;
	float: left;
}

.main {
	background-color: yellow;
	width: 78.5%;
	height: 1000px;
	padding-left: 13px;
	padding-top: 13px;
	margin-left: 21.5%;
	overflow: hidden;
}

.main div {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
	margin: 5px;
	background-color: green;
}

.footer {
	clear: both;
	background-color: lightpink;
	height: 100px;
	margin: 5px auto;
}

