.c-footer {
	height: 336px;
	background-color: #f2f5f8;
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	@include respond-to(handhelds) {
		flex-direction: column;
		height: 650px;
		padding-top: 0;
	}
	@include respond-to(tablets) {
		padding-top: 30px;
		flex-direction: column;
		height: 520px;
	}
	&__info {
		margin-left: 120px;
		@include respond-to(handhelds) {
			margin-left: 30px;
			margin-right: 30px;
		}
		@include respond-to(tablets) {
			margin-left: 45px;
			margin-right: 45px;
		}
		&-title {
			color: $black;
			letter-spacing: $letter-spacing;
			line-height: 0.83;
			font-size: 24px;
			margin-bottom: 15px;
			@include respond-to(handhelds) {
				line-height: 1.25;
			}
			@include respond-to(tablets) {
				line-height: 1.25;
			}
		}
		&-text {
			color: $black;
			letter-spacing: $letter-spacing;
			line-height: 1.5;
			font-size: $medium-font;
		}
		&-social {
			margin-top: 30px;
			@include respond-to(tablets) {
				margin-top: 20px;
				text-align: center;
			}
		}
		&-social-item {
			width: 60px;
			height: 28px;
			text-align: right;
			color: $white;
			padding-right: 10px;
			border-radius: $smallest-border-radius;
			outline: none;
			letter-spacing: $letter-spacing;
			&:not(:last-child) {
				margin-right: 12px;
			}
			&.c--facebook {
				background-color: #3162a2;
				border: $border-width solid #3162a2;
				&:hover {
					background-color: #235493;
					border-color: #235493;
					cursor: pointer;
				}
			}
			&.c--twitter {
				background-color: #2eb1eb;
				border: $border-width solid #2eb1eb;
				&:hover {
					background-color: #209dd4;
					border-color: #209dd4;
					cursor: pointer;
				}
			}
			&.c--dribbble {
				background-color: #f552b6;
				border: $border-width solid #f552b6;
				&:hover {
					background-color: #d43b99;
					border-color: #d43b99;
					cursor: pointer;
				}
			}
			&.c--linkedin {
				background-color: #457ac0;
				border: $border-width solid #457ac0;
				&:hover {
					background-color: #3465a5;
					border-color: #3465a5;
					cursor: pointer;
				}
			}
			&-img {
				height: 14px;
				width: auto;
				&.c--facebook {
					margin-bottom: -1px;
					margin-right: 4px;
				}
				&.c--twitter {
					margin-right: 8px;
					margin-bottom: -2px;
				}
				&.c--dribbble {
					margin-right: 8px;
					margin-bottom: -2px;	
				}
				&.c--linkedin {
					margin-right: 6px;
				}
			}
		}
		&-links {
			margin-top: 40px;
			@include respond-to(tablets) {
				margin-top: 20px;
				text-align: center;
			}
		}
		&-link {
			display: inline-block;
			text-decoration: none;
			line-height: 2.25;
			font-size: $medium-font;
			color: $blue;
			letter-spacing: $letter-spacing;
			&:not(:last-child) {
				margin-right: 30px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__menu {
		margin-right: 120px;
		margin-left: 240px;
		display: flex;
		justify-content: space-around;
		@include respond-to(handhelds) {
			margin: 0 auto;
		}
		@include respond-to(tablets) {
			margin-left: 30px;
			margin-right: 45px;
		}
		@include respond-to(medium-screens) {
			margin-left: 100px;
		}
		&-item {
			display: block;
			&:not(:last-child) {
				margin-right: 60px;
			}
		}
		&-subitem {
			display: block;
			line-height: 2;
			font-size: $medium-font;
			letter-spacing: $letter-spacing;
			color: $dark-grey;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			&:first-child {
				color: $black;
				pointer-events: none;
			}
		}
	}
}
