.c-header {
	height: 100vh;
	position: relative;
	background-color: $orange;
}

.c-button{
	&.c-header__menu-item {
		position: absolute;
		background-color: transparent;
		margin: 0;
		margin-top: 6.9rem;
		margin-left: 12rem;
	}
}

.c-header__menu {
	text-align: right;
	padding-top: 8rem;
	margin-right: 12rem;
}

.c-header__menu-item {
	margin: 2rem;
	text-decoration: none;
	letter-spacing: $letter-spacing;
	color: $white;
	font-size: $medium-font;
}

.c-header__logo {
	margin-top: 9rem;
	margin-bottom: 7rem;
	text-align: center;
}

.c-header__title {
	text-align: center;
	color: $white;
	font-size: 3.6rem;
	letter-spacing: $letter-spacing;
	margin-bottom: 7rem;
	padding: 0 18rem;
	line-height: 1.4;
}

.button-wrapper {
	display: block;
	margin: 0 auto;
	width: 140px;
}

.c-button {
	&.c-header__button {
		background-color: $green;
	}
}
