$light-blue: #77bfe5;
$blue: #65abd0;
$dark-blue: #5093b7;
$dark-dark-blue: #3e7c9e;
$border-blue: #609fc0;
$white: #fff;
$big-font: 18px;
$medium-font: 16px;
$small-font: 14px;
$light-shadow: #27496d;
$dark-shadow: #193047;
$smallest-radius: 6px;
$medium-radius: 24px;
$big-radius: 30px;

.c-buttons {
    padding: 36px 120px;
}

.c-btn {
    display: flex;
    justify-content: space-around;
    color: $white;
    font-weight: bold;
    &.c--big {
        margin-bottom: 25px;
        font-size: $big-font;
        p {
            padding: $big-font;
            text-align: center;
        }
    }
    &.c--medium {
        margin-bottom: 23px;
        font-size: $medium-font;
        p {
            padding: 13px;
            text-align: center;
        }
    }
    &.c--small {
        font-size: $small-font;
        p {
            padding: 8px;
            text-align: center;
        }
    }
}


.c-btn__load-more {
    min-width: 190px;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
        text-shadow: -1px 1px $light-shadow;
    }
    &:active {
        background-color: $dark-dark-blue;
        text-shadow: -1px 1px $dark-shadow;
    }
}

.c-btn__sign-up {
    @extend .c-btn__load-more;
    border-radius: $smallest-radius;
}

.c-btn__sign-in {
    @extend .c-btn__load-more;
    border-radius: $big-radius;
}

.c-btn__logout {
    min-width: 190px;
    border: 2px solid $blue;
    border-radius: $big-radius;
    cursor: pointer;
    color: $blue;
    &:hover {
        color: $dark-blue;
        border-color: $dark-blue;
    }
    &:active {
        color: $dark-dark-blue;
        border-color: $dark-dark-blue;
    }
}

.c-btn__right-arrow--big {
    position: relative;
    min-width: 60px;
    border-radius: $big-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
    }
    &:active {
        background-color: $dark-dark-blue;
    }
    &::before {
        position: absolute;
        top: 40%;
        right: 45%;
        width: 10px;
        height: 10px;
        border-top: solid 2px $white;
        border-right: solid 2px $white;
        content: '';
        transform: rotate(45deg);
    }
}

.c-btn__learn-more {
    min-width: 140px;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
        text-shadow: -1px 1px $light-shadow;
    }
    &:active {
        background-color: $dark-dark-blue;
        text-shadow: -1px 1px $dark-shadow;
    }
}

.c-btn__buy-now {
    @extend .c-btn__learn-more;
    border-radius: $smallest-radius;
}

.c-btn__order-now {
    @extend .c-btn__learn-more;
    border-radius: $big-radius;
}

.c-btn__install {
    min-width: 140px;
    border: 2px solid $blue;
    border-radius: $big-radius;
    cursor: pointer;
    color: $blue;
    &:hover {
        color: $dark-blue;
        border-color: $dark-blue;
    }
    &:active {
        color: $dark-dark-blue;
        border-color: $dark-dark-blue;
    }
}

.c-btn__menu--medium {
    position: relative;
    min-width: 48px;
    border-radius: $smallest-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
    }
    &:active {
        background-color: $dark-dark-blue;
    }
}

.c-btn__menu-icon--medium {
    position: absolute;
    width: 18px;
    height: 2px;
    margin-top: 23px;
    margin-left: 15px;
    background-color: $white;
    color: $white;
    &::before {
        position: absolute;
        top: -5px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: $white;
        content: '';
    }
    &::after {
        position: absolute;
        top: 5px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: $white;
        content: '';
    }
}

.c-btn__left-arrow--medium {
    position: relative;
    min-width: 48px;
    border-radius: $medium-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
    }
    &:active {
        background-color: $dark-dark-blue;
    }
    &::before {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 10px;
        height: 10px;
        border-top: solid 2px $white;
        border-right: solid 2px $white;
        content: '';
        transform: rotate(-135deg);
    }
}

.c-btn__next {
    position: relative;
    display: inline-block;
    min-width: 75px;
    border-radius: $smallest-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
        text-shadow: -1px 1px $light-shadow;
    }
    &:active {
        background-color: $dark-dark-blue;
        text-shadow: -1px 1px $dark-shadow;
    }
    &::after {
        position: absolute;
        top: 50%;
        left: 96%;
        width: 0;
        height: 0;
        margin-top: -24px;
        border: solid transparent;
        border-width: 24px;
        border-left-color: $blue;
        content: ' ';
    }
    &:hover::after {
        border-left-color: $dark-blue;
    }
    &:active::after {
        border-left-color: $dark-dark-blue;
    }
}

.c-btn__start {
    min-width: 120px;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
        text-shadow: -1px 1px $light-shadow;
    }
    &:active {
        background-color: $dark-dark-blue;
        text-shadow: -1px 1px $dark-shadow;
    }
}

.c-btn__download {
    @extend .c-btn__start;
    border-radius: $smallest-radius;
}

.c-btn__share {
    @extend .c-btn__start;
    border-radius: $big-radius;
}

.c-btn__free-trial {
    min-width: 120px;
    border: 2px solid $blue;
    border-radius: $big-radius;
    cursor: pointer;
    color: $blue;
    &:hover {
        color: $dark-blue;
        border-color: $dark-blue;
    }
    &:active {
        color: $dark-dark-blue;
        border-color: $dark-dark-blue;
    }
}

.c-btn__menu--small {
    position: relative;
    min-width: 36px;
    border-radius: $smallest-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
    }
    &:active {
        background-color: $dark-dark-blue;
    }
}

.c-btn__menu-icon--small {
    position: absolute;
    width: 16px;
    height: 2px;
    margin-top: 17px;
    margin-left: 10px;
    background-color: $white;
    color: $white;
    &::before {
        position: absolute;
        top: -5px;
        left: 0;
        width: 16px;
        height: 2px;
        background-color: $white;
        content: '';
    }
    &::after {
        position: absolute;
        top: 5px;
        left: 0;
        width: 16px;
        height: 2px;
        background-color: $white;
        content: '';
    }
}

.c-btn__right-arrow--small {
    position: relative;
    min-width: 36px;
    border-radius: $big-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
    }
    &:active {
        background-color: $dark-dark-blue;
    }
    &::before {
        position: absolute;
        top: 40%;
        right: 40%;
        width: 7px;
        height: 7px;
        border-top: solid 2px $white;
        border-right: solid 2px $white;
        content: '';
        transform: rotate(45deg);
    }
}

.c-btn__arrows {
    display: flex;
    flex-direction: row;
    min-width: 75px;
    border-radius: $smallest-radius;
    background-color: $blue;
}

.c-btn__arrows--left {
    position: relative;
    min-width: 37px;
    cursor: pointer;
    &:hover {
        border-radius: $smallest-radius;
        background-color: $dark-blue;
    }
    &:active {
        border-radius: $smallest-radius;
        background-color: $dark-dark-blue;
    }
    &::before {
        position: absolute;
        top: 40%;
        right: 40%;
        width: 7px;
        height: 7px;
        border-top: solid 2px $white;
        border-right: solid 2px $white;
        content: '';
        transform: rotate(-135deg);
    }
}

.c-btn__arrows--right {
    @extend .c-btn__arrows--left;
    border-left: 1px solid $border-blue;
    &::before {
        position: absolute;
        top: 40%;
        right: 40%;
        width: 7px;
        height: 7px;
        border-top: solid 2px $white;
        border-right: solid 2px $white;
        content: '';
        transform: rotate(45deg);
    }
}

.c-btn__forward {
    position: relative;
    display: inline-block;
    min-width: 90px;
    border-radius: $smallest-radius;
    background-color: $blue;
    cursor: pointer;
    &:hover {
        background-color: $dark-blue;
        text-shadow: -1px 1px $light-shadow;
    }
    &:active {
        background-color: $dark-dark-blue;
        text-shadow: -1px 1px $dark-shadow;
    }
    &::after {
        position: absolute;
        top: 50%;
        left: 96%;
        width: 0;
        height: 0;
        margin-top: -19px;
        border: solid transparent;
        border-width: 19px;
        border-left-color: $blue;
        content: ' ';
    }
    &:hover::after {
        border-left-color: $dark-blue;
    }
    &:active::after {
        border-left-color: $dark-dark-blue;
    }
}
