.buttons {
	margin-bottom: 50px;
}

.button-wrapper {
	min-width: 140px;
	display: inline-block;
	margin: 5px;
	&.button-wrapper-arrow {
		min-width: 75px;
		&.button-wrapper--small {
			min-width: 90px;
		}
	}
	&.button-wrapper--large {
		min-width: 190px;
	}
	&.button-wrapper--small {
		min-width: 120px;
	}
	&.button-group-wrapper {
		height: 48px;
		min-width: 75px;
		overflow: hidden;
		vertical-align: middle;
		&.button-wrapper--small {
			height: 36px;
		}
	}
}

.c-button {
	font-size: $medium-font;
	letter-spacing: $letter-spacing;
	background-color: $blue;
	border-color: transparent;
	color: $white;
	text-align: center;
	padding: $normal-padding;
	text-shadow: 0 0 1px $white; //насыщенность шрифта
	width: 100%;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	&:hover {
		background-color: $dark-blue;
	}
	&:active {
		background-color: $dark-dark-blue;
	}
	&.c--button-rounded {
		border-radius: $smallest-border-radius;
	}
	&.c--button-round {
		border-radius: $round-border-radius;
	}
	&.c--button-ghost {
		background-color: transparent;
		color: $blue;
		border: $border-width solid $blue;
		text-shadow: 0 0 1px $blue;
		&:hover {
			color: $dark-blue;
			border-color: $dark-blue;
		}
		&:active {
			color: $dark-dark-blue;
			border-color: $dark-dark-blue;
		}
	}
	&.c--button-square {
		vertical-align: middle;
		position: relative;
		padding: 0;
		height: $normal-height;
		width: $normal-width;
		margin: 20px;
		&.c--button-large {
			width: $large-width;
			height: $large-height;
		}
		&.c--button-small {
			width: $small-width;
			height: $small-height;
		}
	}
	&.c--button-circle {
		&::before {
			position: absolute;
			top: 50%;
			left: calc(50% + 1px);
			transform: translate(-50%, -50%) rotate(-135deg);
			transform-origin: center;
			width: 10px;
			height: 10px;
			border-top: solid $border-width $white;
			border-right: solid $border-width $white;
			content: '';
		}
		&.c--button-large {
			&::before {
				left: calc(50% - 1px);
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
		&.c--button-small {
			&::before {
				left: calc(50% - 1px);
				transform: translate(-50%, -50%) rotate(45deg);
				width: 7px;
				height: 7px;
			}
		}
	}
	&.c--button-arrow {
		position: relative;
		&::after {
			position: absolute;
			top: 50%;
			left: calc(100% - 2px);
			width: 0;
			height: 0;
			margin-top: -24px;
			border: solid transparent;
			border-width: 24px;
			border-left-color: $blue;
			content: ' ';
		}
		&:hover::after {
			border-left-color: $dark-blue;
		}
		&:active::after {
			border-left-color: $dark-dark-blue;
		}
		&.c--button-small {
			&::after {
				margin-top: -18px;
				border-width: 18px;
			}
		}
	}
	&.c--button-large {
		padding: $large-padding;
		font-size: $large-font;
	}
	&.c--button-small {
		padding: $small-padding;
		font-size: $small-font;
	}
	&.c--button-group {
		float: left;
		margin: 0;
		border: solid rgba(0,0,0,0.2);
		border-width: 0 1px 0 1px;
		&:first-child {
			border-left: none;
			border-top-left-radius: $smallest-border-radius;
			border-bottom-left-radius: $smallest-border-radius;
			position: relative;
		}
		&:last-child {
			border-right: none;
			border-top-right-radius: $smallest-border-radius;
			border-bottom-right-radius: $smallest-border-radius;
			position: relative;
		}
	}
}

.c-button-square-icon {
	background-color: $white;
	width: $menu-icon-normal-width;
	height: $menu-icon-height;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&::before {
		content: '';
		position: absolute;
		top: -5px;
		left: 0;
		background-color: $white;
		width: $menu-icon-normal-width;
		height: $menu-icon-height;
	}
	&::after {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		background-color: $white;
		width: $menu-icon-normal-width;
		height: $menu-icon-height;
	}
	&.c--button-small {
		width: $menu-icon-small-width;
		&::before {
			width: $menu-icon-small-width;
		}
		&::after {
			width: $menu-icon-small-width;
		}
	}
}

.c-left-arrow-in-group::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7px;
	height: 7px;
	border-top: solid $border-width $white;
	border-right: solid $border-width $white;
	content: '';
	transform-origin: center;
	transform: translate(-50%, -50%) rotate(-135deg);
}

.c-right-arrow-in-group::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7px;
	height: 7px;
	border-top: solid $border-width $white;
	border-right: solid $border-width $white;
	content: '';
	transform-origin: center;
	transform: translate(-50%, -50%) rotate(45deg);
}
