$blue: #65abd0;
$grey: #c6ccd2;
$light-black: #494949;
$dark-grey: #b4bbc2;
$smallest-radius: 6px;
$medium-font: 16px;

.c-comments {
	display: flex;
	justify-content: space-around;
	padding: 36px 120px;
}

.c-comment {
	width: 50%;
	height: 150px;
}

.c-comment-field {
	padding: 10px;
	border: 2px solid $grey;
	border-radius: $smallest-radius;
	font-family: 'Cabin', Arial, sans-serif;
	font-size: $medium-font;
	font-weight: bold;
	color: $light-black;
	&:focus {
		border-color: $blue;
	}
	&.c--focus {
		border-color: $blue;
	}
}
