$green: #24aa98;
$blue: #65abd0;
$red: #db7560;
$grey: #c6ccd2;
$dark-grey: #b4bbc2;
$light-black: #494949;
$white: #fff;
$smallest-radius: 6px;
$medium-radius: 24px;
$medium-font: 16px;
$small-font: 14px;

.c-input {
	padding: 36px 120px;
}

.c-inputs {
	&.c--big {
		display: flex;
		justify-content: space-around;
		margin-bottom: 72px;
	}
	&.c--small {
		display: flex;
		justify-content: space-around;
	}
}

.c-inputs__email {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 50%;
	height: 120px;
}

.c-inputs__search {
	@extend .c-inputs__email;
}

/* BIG EMAILS */

.temp-wrapper {
	position: relative;
	width: 220px;
}

.c-inputs__email--big {
	width: 100%;
	padding: 13px;
	border: 2px solid $grey;
	border-radius: $smallest-radius;
	font-size: $medium-font;
	font-weight: bold;
	color: $light-black;
	&.c--focus {
		border-color: $blue;
	}
	&.c--correct {
		border-color: $green;
	}
	&.c--incorrect {
		border-color: $red;
	}
	&.c--outfocus:focus {
		border-color: $blue;
	}
}

.correct-icon--big {
	position: absolute;
	top: 32%;
	right: 3%;
	width: 13px;
	height: 7px;
	border-bottom: solid 2px $green;
	border-left: solid 2px $green;
	color: $green;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.incorrect-icon--big {
	position: absolute;
	top: 40%;
	right: 10%;
	color: $red;
	&::before {
		position: absolute;
		width: 13px;
		height: 2px;
		background-color: $red;
		content: '';
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&::after {
		position: absolute;
		width: 13px;
		height: 2px;
		background-color: $red;
		content: '';
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

/* BIG SEARCH */

.c-inputs__search-field {
	width: 100%;
	padding: 13px 13px 13px 33px;
	font-size: $medium-font;
	font-weight: bold;
	color: $light-black;
	&.c--outfocus-first {
		border: 2px solid $grey;
		&:focus {
			border-color: $blue;
		}
	}
	&.c--focus-first {
		border: 2px solid $blue;
	}
	&.c--round {
		border-radius: $medium-radius;
	}
	&.c--outfocus-second {
		border: 2px solid $grey;
	}
	&.c--rectangular {
		padding-left: 14px;
		width: 78%;
		border-right: none;
		border-radius: $smallest-radius 0 0 $smallest-radius;
	}
	&.c--focus-second {
		width: 73%;
		margin-right: 10px;
		border: 2px solid $grey;
		border-radius: $smallest-radius;
	}
}

.c-inputs__search-submit {
	padding: 12px;
	font-size: $medium-font;
	&.c--outfocus-second {
		width: 21%;
		border: 2px solid $grey;
		background-color: $grey;
	}
	&.c--rectangular {
		border-left: none;
		border-radius: 0 $smallest-radius $smallest-radius 0;
	}
	&.c--focus-second {
		width: 22%;
		border: 2px solid $green;
		border-radius: $smallest-radius;
		background-color: $green;
	}
}

.search-icon {
	position: absolute;
	top: 32%;
	left: 6%;
	width: 12px;
	height: 12px;
	border: solid 2px $dark-grey;
	border-radius: 100%;
	color: $dark-grey;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	&::before {
		position: absolute;
		top: 10px;
		left: 3px;
		width: 2px;
		height: 8px;
		background-color: $dark-grey;
		content: '';
	}
	&.c--focus-first {
		border-color: $light-black;
		&::before {
			background-color: $light-black;
		}
	}
	&.c--outfocus-second {
		top: 25%;
		left: 84%;
		width: 15px;
		height: 15px;
		border-color: $white;
		&::before {
			top: 13px;
			left: 4px;
			height: 10px;
			background-color: $white;
		}
	}
}

.cancel-icon {
	position: absolute;
	top: 27%;
	right: 5%;
	width: 20px;
	height: 20px;
	border: 1px solid $dark-grey;
	border-radius: 100%;
	background-color: $dark-grey;
	&::before {
		position: absolute;
		top: 8px;
		left: 4px;
		width: 10px;
		height: 2px;
		background-color: $white;
		content: '';
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&::after {
		position: absolute;
		top: 8px;
		left: 4px;
		width: 10px;
		height: 2px;
		background-color: $white;
		content: '';
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

/* SMALL EMAILS */

.c-inputs__email--small {
	width: 100%;
	padding: 9px;
	border: 2px solid $grey;
	border-radius: $smallest-radius;
	font-size: $small-font;
	font-weight: bold;
	color: $light-black;
	&.c--focus {
		border-color: $blue;
	}
	&.c--correct {
		border-color: $green;
	}
	&.c--incorrect {
		border-color: $red;
	}
	&.c--outfocus:focus {
		border-color: $blue;
	}
}

.correct-icon--small {
	position: absolute;
	top: 25%;
	right: 3%;
	width: 13px;
	height: 7px;
	border-bottom: solid 2px $green;
	border-left: solid 2px $green;
	color: $green;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.incorrect-icon--small {
	position: absolute;
	top: 33%;
	right: 10%;
	color: $red;
	&::before {
		position: absolute;
		width: 13px;
		height: 2px;
		background-color: $red;
		content: '';
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&::after {
		position: absolute;
		width: 13px;
		height: 2px;
		background-color: $red;
		content: '';
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

.c-inputs__search-field--small {
	width: 100%;
	padding: 9px 9px 9px 29px;
	font-size: $small-font;
	font-weight: bold;
	color: $light-black;
	&.c--outfocus-first {
		border: 2px solid $grey;
		&:focus {
			border-color: $blue;
		}
	}
	&.c--focus-first {
		border: 2px solid $blue;
	}
	&.c--round {
		width: 100%;
		border-radius: $medium-radius;
	}
	&.c--outfocus-second {
		border: 2px solid $grey;
	}
	&.c--rectangular {
		padding-left: 14px;
		width: 78%;
		border-right: none;
		border-radius: $smallest-radius 0 0 $smallest-radius;
	}
	&.c--focus-second {
		width: 73%;
		margin-right: 10px;
		border: 2px solid $grey;
		border-radius: $smallest-radius;
	}
}

.c-inputs__search-submit--small {
	padding: 8px;
	font-size: $small-font;
	&.c--outfocus-second {
		width: 21%;
		border: 2px solid $grey;
		background-color: $grey;
	}
	&.c--rectangular {
		border-left: none;
		border-radius: 0 $smallest-radius $smallest-radius 0;
	}
	&.c--focus-second {
		width: 22%;
		border: 2px solid $green;
		border-radius: $smallest-radius;
		background-color: $green;
	}
}

.search-icon--small {
	position: absolute;
	top: 23%;
	left: 4%;
	width: 12px;
	height: 12px;
	border: solid 2px $dark-grey;
	border-radius: 100%;
	color: $dark-grey;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	&::before {
		position: absolute;
		top: 10px;
		left: 3px;
		width: 2px;
		height: 8px;
		background-color: $dark-grey;
		content: '';
	}
	&.c--focus-first {
		border-color: $light-black;
		&::before {
			background-color: $light-black;
		}
	}
	&.c--outfocus-second {
		top: 18%;
		left: 84%;
		width: 15px;
		height: 15px;
		border-color: $white;
		&::before {
			top: 13px;
			left: 4px;
			height: 10px;
			background-color: $white;
		}
	}
}

.cancel-icon--small {
	position: absolute;
	top: 18%;
	right: 5%;
	width: 20px;
	height: 20px;
	border: 1px solid $dark-grey;
	border-radius: 100%;
	background-color: $dark-grey;
	&::before {
		position: absolute;
		top: 8px;
		left: 4px;
		width: 10px;
		height: 2px;
		background-color: $white;
		content: '';
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&::after {
		position: absolute;
		top: 8px;
		left: 4px;
		width: 10px;
		height: 2px;
		background-color: $white;
		content: '';
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
