$green: #24aa98;
$dark-green: #1a9385;
$border-dark-green: #1a877b;
$orange: #d9c26c;
$light-grey: #dee2e7;
$grey: #c6ccd2;
$black: #383737;
$white: #fff;

$smallest-radius: 6px;
$small-radius: 20px;

$medium-font: 16px;
$small-font: 14px;

.c-settings {
	padding: 36px 120px;
}

.c-settings__select.c--inactive {
	width: 220px;
	position: relative;
	font-size: $medium-font;
	font-weight: bold;
	padding: 13px;
	cursor: pointer;
	color: $white;
	border-radius: 6px;
	background-color: $green;
	margin-bottom: 25px;
}

.c-settings__select.c--inactive:after
{
	position: absolute;
	top: 40%;
	right: 10%;

	width: 7px;
	height: 7px;

	content: '';
	transform: rotate(135deg);

	border-top: solid 2px $white;
	border-right: solid 2px $white;
	cursor: pointer;
}

.c-settings__select.c--active {
	width: 220px;
	position: relative;
	font-size: $medium-font;
	font-weight: bold;
	cursor: pointer;
	color: $white;
	border-radius: 6px;
	
	ul {
		width: 100%;
	}

	li:first-of-type {
		background-color: $green;
		padding: 13px;
		border-radius: $smallest-radius $smallest-radius 0 0;
	}

	li:not(first-of-type) {
		background-color: $dark-green;
		padding: 13px;
		border-top: 1px solid $border-dark-green;
	}

	li:last-of-type {
		border-radius: 0 0 $smallest-radius $smallest-radius;
	}
	
	margin-bottom: 25px;
}

.c-settings__select.c--active:after
{
	position: absolute;
	top: 12%;
	right: 10%;

	width: 7px;
	height: 7px;

	content: '';
	transform: rotate(-45deg);

	border-top: solid 2px $white;
	border-right: solid 2px $white;
	cursor: pointer;
}

.c-settings__radio-check {
	font-size: $medium-font;
	font-weight: bold;
}

.c-settings__radio {
	padding: 13px;
	position: relative;

	input[type='radio'] {
		opacity: 0;
	}

	input[type='radio'] + span {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 10px;
		width: 100%;
		height: 70%;
		cursor: pointer;
		background: url(../images/radio.png) no-repeat;
		background-position: 0 16px;
	}

	input[type='radio']:checked + span {
		z-index: -1;
		background-position: 0 -16px;
		top: 16px;
	}
	
	input[type='radio']:disabled ~ label {
		color: $grey;
	}

	label {
		padding-left: 13px;
	}
}

.c-settings__check {
	padding: 13px;
	position: relative;

	input[type='checkbox'] {
		opacity: 0;
	}

	input[type='checkbox'] + span {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 10px;
		width: 100%;
		height: 70%;
		cursor: pointer;
		background: url(../images/checkbox.png) no-repeat;
		background-position: 0 16px;
	}

	input[type='checkbox']:checked + span {
		z-index: -1;
		background-position: 0 -16px;
		top: 16px;
	}
	
	input[type='checkbox']:disabled ~ label {
		color: $grey;
	}

	label {
		padding-left: 13px;
	}
}

.c-on-off--light {
	input[type='radio'] {
		opacity: 0;
	}
	label {
		position: relative;
		display: block;
		width: 72px;
		height: 36px;
		padding: 7px;
		border-radius: $small-radius;
		color: $green;
		border: 2px solid $grey;
		font-weight: bold;
	}
	label:before {
		content: "Off";
		position: absolute;
		right: 10px;
		color: $grey;
	}
	label:after {
		content: "";
		position: absolute;
		left: 3px; 
		top: 2px;
		display: block;
		width: 28px;
		height: 28px;
		border-radius: 100%;
		background: $grey;
		transition: .5s;
	}
	input[type='radio']:checked ~ label:after {
		left: 33px;
		background-color: $green;
	}
	input[type='radio']:checked ~ label {
		border-color: $green;
	}
}

.c-on-off--dark {
	input[type='radio'] {
		opacity: 0;
	}
	label {
		position: relative;
		display: block;
		width: 72px;
		height: 36px;
		padding: 7px;
		border-radius: $small-radius;
		color: $white;
		background-color: $grey;
		border: 2px solid $grey;
		font-weight: bold;
	}
	label:before {
		content: "Off";
		position: absolute;
		right: 10px;
		color: $white;
	}
	label:after {
		content: "";
		position: absolute;
		left: 3px; 
		top: 2px;
		display: block;
		width: 28px;
		height: 28px;
		border-radius: 100%;
		background: $white;
		transition: .5s;
	}
	input[type='radio']:checked ~ label:after {
		left: 33px;
	}
	input[type='radio']:checked ~ label {
		border-color: $green;
		background-color: $green;
	}
}
