$green: #24aa98;
$blue: #65abd0;
$black: #383737;
$light-grey: #dee2e7;
$dark-grey: #b4bbc2;
$white: #fff;
$medium-font: 16px;
$small-font: 14px;
$smallest-radius: 6px;

.c-table
{
    display: flex;

    padding: 36px 120px;

    justify-content: space-around;
}

.c-table__categories-wrapper
{
    width: 160px;
}

.c-table__categories-header-border
{
    border-top: 2px solid $light-grey;
}

.c-table__categories
{
    font-weight: bold;

    width: 100%;

    text-align: left;
    th
    {
        font-size: $small-font;

        padding: 10px;

        color: $dark-grey;
        border-radius: $smallest-radius;
    }
    td
    {
        font-size: $medium-font;

        padding: 10px;

        color: $black;
        border-radius: $smallest-radius;
    }
    td:hover
    {
        color: $white;
        background-color: $blue;
    }
}

.c-table__music-wrapper
{
    width: 700px;
}

.c-table__music
{
    font-weight: bold;

    width: 100%;

    border-collapse: collapse;

    text-align: left;
    th
    {
        font-size: $small-font;

        padding: 15px;

        color: $dark-grey;
        border-radius: $smallest-radius;
    }
    td
    {
        font-size: $medium-font;

        padding: 15px;

        color: $black;
        border-top: 2px solid $light-grey;
        border-radius: $smallest-radius;
    }
    td:first-child
    {
        color: $dark-grey;
    }
    form
    {
        position: relative;
    }
    input[type='checkbox']
    {
        opacity: 0;
    }
    input[type='checkbox'] + span
    {
        position: absolute;
        z-index: -1;
        top: 3px;
        left: 0;

        width: 100%;
        height: 85%;

        cursor: pointer;

        background: url(../images/checkbox.png) no-repeat;
    }
    input[type='checkbox']:checked + span
    {
        z-index: -1;

        background-position: 0 -16px;
    }
}
