$light-green: #42c7b7;
$green: #24aa98;
$dark-green: #1a9385;
$light-blue: #77bfe5;
$blue: #65abd0;
$dark-blue: #5093b7;
$light-orange: #e8d48b;
$orange: #d9c26c;
$dark-orange: #c9b248;
$light-red: #e79f91;
$red: #db7560;
$dark-red: #c25842;
$light-grey: #dee2e7;
$grey: #c6ccd2;
$dark-grey: #b4bbc2;
$grey-label: #c6c6c6;
$light-black: #494949;
$black-label: #afafaf;
$black: #383737;
$dark-black: #262626;
$white: #fff;
$light-shadow: #27496d;
$dark-shadow: #193047;
$smallest-radius: 6px;
$small-font: 14px;

.t-theme
{
    display: flex;

    padding: 96px 120px 36px;

    justify-content: space-around;
}

.t-green,
.t-blue,
.t-orange,
.t-red,
.t-grey,
.t-black
{
    width: 141px;
    height: 121px;

    border-radius: $smallest-radius;
    background-color: $black;
}

.t-green:hover,
.t-blue:hover,
.t-orange:hover,
.t-red:hover,
.t-grey:hover,
.t-black:hover
{
    box-shadow: inset 0 0 0 1px $light-shadow, 0 5px 15px $dark-shadow;
}

.t-green__gradient,
.t-blue__gradient,
.t-orange__gradient,
.t-red__gradient,
.t-grey__gradient,
.t-black__gradient
{
    width: 100%;
    height: 48px;

    border-radius: 4px 4px 0 0;
}

.t-green__text,
.t-blue__text,
.t-orange__text,
.t-red__text,
.t-grey__text,
.t-black__text
{
    p
    {
        font-size: $small-font;
        font-weight: bold;
        line-height: 1.5;

        padding-top: 15px;
        padding-left: 20px;

        color: $white;
    }
}

.t-green__gradient.t--color
{
    background-image: linear-gradient(to right, $light-green 33%, $green 33%, $green 66%, $dark-green 66%);
}

.t-green__text.t--color
{
    span
    {
        color: $green;
    }
}

.t-blue__gradient.t--color
{
    background-image: linear-gradient(to right, $light-blue 33%, $blue 33%, $blue 66%, $dark-blue 66%);
}

.t-blue__text.t--color
{
    span
    {
        color: $blue;
    }
}

.t-orange__gradient.t--color
{
    background-image: linear-gradient(to right, $light-orange 33%, $orange 33%, $orange 66%, $dark-orange 66%);
}

.t-orange__text.t--color
{
    span
    {
        color: $orange;
    }
}

.t-red__gradient.t--color
{
    background-image: linear-gradient(to right, $light-red 33%, $red 33%, $red 66%, $dark-red 66%);
}

.t-red__text.t--color
{
    span
    {
        color: $red;
    }
}

.t-grey__gradient.t--color
{
    background-image: linear-gradient(to right, $light-grey 33%, $grey 33%, $grey 66%, $dark-grey 66%);
}

.t-grey__text.t--color
{
    span
    {
        color: $grey-label;
    }
}

.t-black__gradient.t--color
{
    background-image: linear-gradient(to right, $light-black 33%, $black 33%, $black 66%, $dark-black 66%);
}

.t-black__text.t--color
{
    span
    {
        color: $black-label;
    }
}
