* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Cabin', Arial, sans-serif;
  max-width: 1180px;
  margin: 0 auto; }

.t-theme {
  display: -ms-flexbox;
  display: flex;
  padding: 96px 120px 36px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.t-green,
.t-blue,
.t-orange,
.t-red,
.t-grey,
.t-black {
  width: 141px;
  height: 121px;
  border-radius: 6px;
  background-color: #383737; }

.t-green:hover,
.t-blue:hover,
.t-orange:hover,
.t-red:hover,
.t-grey:hover,
.t-black:hover {
  box-shadow: inset 0 0 0 1px #27496d, 0 5px 15px #193047; }

.t-green__gradient,
.t-blue__gradient,
.t-orange__gradient,
.t-red__gradient,
.t-grey__gradient,
.t-black__gradient {
  width: 100%;
  height: 48px;
  border-radius: 4px 4px 0 0; }

.t-green__text p,
.t-blue__text p,
.t-orange__text p,
.t-red__text p,
.t-grey__text p,
.t-black__text p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 15px;
  padding-left: 20px;
  color: #fff; }

.t-green__gradient.t--color {
  background-image: linear-gradient(to right, #42c7b7 33%, #24aa98 33%, #24aa98 66%, #1a9385 66%); }

.t-green__text.t--color span {
  color: #24aa98; }

.t-blue__gradient.t--color {
  background-image: linear-gradient(to right, #77bfe5 33%, #65abd0 33%, #65abd0 66%, #5093b7 66%); }

.t-blue__text.t--color span {
  color: #65abd0; }

.t-orange__gradient.t--color {
  background-image: linear-gradient(to right, #e8d48b 33%, #d9c26c 33%, #d9c26c 66%, #c9b248 66%); }

.t-orange__text.t--color span {
  color: #d9c26c; }

.t-red__gradient.t--color {
  background-image: linear-gradient(to right, #e79f91 33%, #db7560 33%, #db7560 66%, #c25842 66%); }

.t-red__text.t--color span {
  color: #db7560; }

.t-grey__gradient.t--color {
  background-image: linear-gradient(to right, #dee2e7 33%, #c6ccd2 33%, #c6ccd2 66%, #b4bbc2 66%); }

.t-grey__text.t--color span {
  color: #c6c6c6; }

.t-black__gradient.t--color {
  background-image: linear-gradient(to right, #494949 33%, #383737 33%, #383737 66%, #262626 66%); }

.t-black__text.t--color span {
  color: #afafaf; }

.c-buttons {
  padding: 36px 120px; }

.c-btn {
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.c-btn.c--big {
  font-size: 18px;
  margin-bottom: 25px; }
  .c-btn.c--big p {
    padding: 18px;
    text-align: center; }

.c-btn__load-more, .c-btn__sign-up, .c-btn__sign-in {
  min-width: 190px;
  cursor: pointer;
  background-color: #65abd0; }

.c-btn__load-more:hover, .c-btn__sign-up:hover, .c-btn__sign-in:hover {
  background-color: #5093b7;
  text-shadow: -1px 1px #27496d; }

.c-btn__load-more:active, .c-btn__sign-up:active, .c-btn__sign-in:active {
  background-color: #3e7c9e;
  text-shadow: -1px 1px #193047; }

.c-btn__sign-up {
  border-radius: 6px; }

.c-btn__sign-in {
  border-radius: 30px; }

.c-btn__logout {
  min-width: 190px;
  cursor: pointer;
  color: #65abd0;
  border: 2px solid #65abd0;
  border-radius: 30px; }

.c-btn__logout:hover {
  color: #5093b7;
  border-color: #5093b7; }

.c-btn__logout:active {
  color: #3e7c9e;
  border-color: #3e7c9e; }

.c-btn__right-arrow--big {
  position: relative;
  min-width: 60px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #65abd0; }

.c-btn__right-arrow--big::before {
  position: absolute;
  top: 40%;
  right: 45%;
  width: 10px;
  height: 10px;
  content: '';
  transform: rotate(45deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-btn__right-arrow--big:hover {
  background-color: #5093b7; }

.c-btn__right-arrow--big:active {
  background-color: #3e7c9e; }

.c-btn.c--medium {
  font-size: 16px;
  margin-bottom: 23px; }
  .c-btn.c--medium p {
    padding: 13px;
    text-align: center; }

.c-btn__learn-more, .c-btn__buy-now, .c-btn__order-now {
  min-width: 140px;
  cursor: pointer;
  background-color: #65abd0; }

.c-btn__learn-more:hover, .c-btn__buy-now:hover, .c-btn__order-now:hover {
  background-color: #5093b7;
  text-shadow: -1px 1px #27496d; }

.c-btn__learn-more:active, .c-btn__buy-now:active, .c-btn__order-now:active {
  background-color: #3e7c9e;
  text-shadow: -1px 1px #193047; }

.c-btn__buy-now {
  border-radius: 6px; }

.c-btn__order-now {
  border-radius: 30px; }

.c-btn__install {
  min-width: 140px;
  cursor: pointer;
  color: #65abd0;
  border: 2px solid #65abd0;
  border-radius: 30px; }

.c-btn__install:hover {
  color: #5093b7;
  border-color: #5093b7; }

.c-btn__install:active {
  color: #3e7c9e;
  border-color: #3e7c9e; }

.c-btn__menu--medium {
  position: relative;
  min-width: 48px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #65abd0; }

.c-btn__menu-icon--medium {
  position: absolute;
  width: 18px;
  height: 2px;
  margin-top: 23px;
  margin-left: 15px;
  color: #fff;
  background-color: #fff; }

.c-btn__menu-icon--medium:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 18px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-btn__menu-icon--medium:after {
  position: absolute;
  top: 5px;
  left: 0;
  width: 18px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-btn__menu--medium:hover {
  background-color: #5093b7; }

.c-btn__menu--medium:active {
  background-color: #3e7c9e; }

.c-btn__left-arrow--medium {
  position: relative;
  min-width: 48px;
  cursor: pointer;
  border-radius: 24px;
  background-color: #65abd0; }

.c-btn__left-arrow--medium:before {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 10px;
  height: 10px;
  content: '';
  transform: rotate(-135deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-btn__left-arrow--medium:hover {
  background-color: #5093b7; }

.c-btn__left-arrow--medium:active {
  background-color: #3e7c9e; }

.c-btn__next {
  position: relative;
  display: inline-block;
  min-width: 75px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #65abd0; }

.c-btn__next:after {
  position: absolute;
  top: 50%;
  left: 96%;
  width: 0;
  height: 0;
  margin-top: -24px;
  content: ' ';
  border: solid transparent;
  border-width: 24px;
  border-left-color: #65abd0; }

.c-btn__next:hover {
  background-color: #5093b7;
  text-shadow: -1px 1px #27496d; }

.c-btn__next:hover:after {
  border-left-color: #5093b7; }

.c-btn__next:active {
  background-color: #3e7c9e;
  text-shadow: -1px 1px #193047; }

.c-btn__next:active:after {
  border-left-color: #3e7c9e; }

.c-btn.c--small {
  font-size: 14px; }
  .c-btn.c--small p {
    padding: 8px;
    text-align: center; }

.c-btn__start, .c-btn__download, .c-btn__share {
  min-width: 120px;
  cursor: pointer;
  background-color: #65abd0; }

.c-btn__start:hover, .c-btn__download:hover, .c-btn__share:hover {
  background-color: #5093b7;
  text-shadow: -1px 1px #27496d; }

.c-btn__start:active, .c-btn__download:active, .c-btn__share:active {
  background-color: #3e7c9e;
  text-shadow: -1px 1px #193047; }

.c-btn__download {
  border-radius: 6px; }

.c-btn__share {
  border-radius: 30px; }

.c-btn__free-trial {
  min-width: 120px;
  cursor: pointer;
  color: #65abd0;
  border: 2px solid #65abd0;
  border-radius: 30px; }

.c-btn__free-trial:hover {
  color: #5093b7;
  border-color: #5093b7; }

.c-btn__free-trial:active {
  color: #3e7c9e;
  border-color: #3e7c9e; }

.c-btn__menu--small {
  position: relative;
  min-width: 36px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #65abd0; }

.c-btn__menu-icon--small {
  position: absolute;
  width: 16px;
  height: 2px;
  margin-top: 17px;
  margin-left: 10px;
  color: #fff;
  background-color: #fff; }

.c-btn__menu-icon--small:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 16px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-btn__menu-icon--small:after {
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-btn__menu--small:hover {
  background-color: #5093b7; }

.c-btn__menu--small:active {
  background-color: #3e7c9e; }

.c-btn__right-arrow--small {
  position: relative;
  min-width: 36px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #65abd0; }

.c-btn__right-arrow--small:before {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(45deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-btn__right-arrow--small:hover {
  background-color: #5093b7; }

.c-btn__right-arrow--small:active {
  background-color: #3e7c9e; }

.c-btn__arrows {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  min-width: 75px;
  border-radius: 6px;
  background-color: #65abd0; }

.c-btn__arrows--left, .c-btn__arrows--right {
  position: relative;
  min-width: 37px;
  cursor: pointer; }

.c-btn__arrows--left:hover, .c-btn__arrows--right:hover {
  border-radius: 6px;
  background-color: #5093b7; }

.c-btn__arrows--left:active, .c-btn__arrows--right:active {
  border-radius: 6px;
  background-color: #3e7c9e; }

.c-btn__arrows--left:before, .c-btn__arrows--right:before {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(-135deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-btn__arrows--right {
  border-left: 1px solid #609fc0; }

.c-btn__arrows--right:before {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(45deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-btn__forward {
  position: relative;
  display: inline-block;
  min-width: 90px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #65abd0; }

.c-btn__forward:after {
  position: absolute;
  top: 50%;
  left: 96%;
  width: 0;
  height: 0;
  margin-top: -19px;
  content: ' ';
  border: solid transparent;
  border-width: 19px;
  border-left-color: #65abd0; }

.c-btn__forward:hover {
  background-color: #5093b7;
  text-shadow: -1px 1px #27496d; }

.c-btn__forward:hover:after {
  border-left-color: #5093b7; }

.c-btn__forward:active {
  background-color: #3e7c9e;
  text-shadow: -1px 1px #193047; }

.c-btn__forward:active:after {
  border-left-color: #3e7c9e; }

.c-message {
  display: -ms-flexbox;
  display: flex;
  padding: 36px 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.c-message__alignment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  min-width: 144px;
  border-radius: 6px;
  background-color: #24aa98; }

.c-message__alignment--left, .c-message__alignment--center, .c-message__alignment--right {
  position: relative;
  min-width: 47px;
  cursor: pointer; }

.c-message__alignment--left:hover, .c-message__alignment--center:hover, .c-message__alignment--right:hover {
  border-radius: 6px;
  background-color: #1a9385; }

.c-message__alignment--left:active, .c-message__alignment--center:active, .c-message__alignment--right:active {
  border-radius: 6px;
  background-color: #137d72; }

.c-message__alignment--center {
  min-width: 50px;
  border-right: 2px solid #269e8e;
  border-left: 2px solid #269e8e; }

.c-message__alignment-icon--left, .c-message__alignment-icon--center, .c-message__alignment-icon--right {
  position: absolute;
  width: 18px;
  height: 2px;
  margin-top: 23px;
  margin-left: 16px;
  color: #fff;
  background-color: #fff; }

.c-message__alignment-icon--left:before, .c-message__alignment-icon--center:before, .c-message__alignment-icon--right:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 14px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-message__alignment-icon--left:after, .c-message__alignment-icon--center:after, .c-message__alignment-icon--right:after {
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-message__alignment-icon--center:before {
  position: absolute;
  top: -5px;
  left: 2px;
  width: 14px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-message__alignment-icon--center:after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-message__alignment-icon--right:before {
  position: absolute;
  top: -5px;
  left: 4px;
  width: 14px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-message__alignment-icon--right:after {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 8px;
  height: 2px;
  content: '';
  background-color: #fff; }

.c-message__simple-sender {
  width: 296px; }

.c-message__simple-message, .c-message__choose-message {
  font-size: 16px;
  font-weight: bold;
  width: 74%;
  padding: 13px;
  color: #383737;
  border: 2px solid #c6ccd2;
  border-right: none;
  border-radius: 6px 0 0 6px; }

.c-message__simple-message:hover, .c-message__choose-message:hover {
  border-color: #b4bbc2; }

.c-message__simple-message:focus, .c-message__choose-message:focus {
  border-color: #494949; }

.c-message__simple-send, .c-message__choose-send {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 13px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #24aa98;
  border-radius: 0 6px 6px 0;
  background-color: #24aa98; }

.c-message__simple-send:hover, .c-message__choose-send:hover {
  background-color: #1a9385; }

.c-message__simple-send:active, .c-message__choose-send:active {
  background-color: #137d72; }

.c-message__choose-sender {
  width: 380px; }

.c-message__choose-to-send {
  position: relative;
  display: inline-block;
  width: 29%;
  cursor: pointer; }
  .c-message__choose-to-send select {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 13px;
    cursor: pointer;
    /*text-align: center;*/
    color: #fff;
    border: 1px solid #24aa98;
    border-radius: 6px 0 0 6px;
    background-color: #24aa98;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .c-message__choose-to-send select:hover {
    background-color: #1a9385; }
  .c-message__choose-to-send select:active {
    background-color: #137d72; }

.c-message__choose-to-send:after {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(135deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-message__choose-message {
  width: 50%;
  margin-left: -4px;
  border-left: none;
  border-radius: 0; }

.c-message__ok {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  min-width: 60px;
  padding: 15px 10px 15px 0;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 6px;
  background-color: #24aa98; }

.c-message__ok:after {
  position: absolute;
  top: 37%;
  right: 15%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(135deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff; }

.c-message__ok:hover {
  background-color: #1a9385; }

.c-message__ok:active {
  background-color: #137d72; }

.c-input {
  padding: 36px 120px; }

.c-inputs.c--big {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.c-inputs__email {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 50%;
  height: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.c-inputs__search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 50%;
  height: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* BIG EMAILS */
.temp-wrapper {
  position: relative;
  width: 220px; }

.c-inputs__email--big {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 13px;
  color: #494949;
  border: 2px solid #c6ccd2;
  border-radius: 6px; }

.c-inputs__email--big.c--outfocus:focus {
  border-color: #65abd0; }

.c-inputs__email--big.c--focus {
  border-color: #65abd0; }

.c-inputs__email--big.c--correct {
  border-color: #24aa98; }

.correct-icon--big {
  position: absolute;
  top: 32%;
  right: 3%;
  width: 13px;
  height: 7px;
  transform: rotate(-45deg);
  color: #24aa98;
  border-bottom: solid 2px #24aa98;
  border-left: solid 2px #24aa98; }

.c-inputs__email--big.c--incorrect {
  border-color: #db7560; }

.incorrect-icon--big {
  position: absolute;
  top: 40%;
  right: 10%;
  color: #db7560; }

.incorrect-icon--big:before {
  position: absolute;
  width: 13px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #db7560; }

.incorrect-icon--big:after {
  position: absolute;
  width: 13px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #db7560; }

/* BIG SEARCH */
.c-inputs__search-field {
  font-size: 16px;
  font-weight: bold;
  width: 78%;
  padding: 13px 13px 13px 0;
  color: #494949; }

.c-inputs__search-submit {
  font-size: 16px;
  padding: 12px; }

.c-inputs__search-field.c--outfocus-first {
  border: 2px solid #c6ccd2; }

.c-inputs__search-submit.c--outfocus-first {
  border: 2px solid #c6ccd2; }

.c-inputs__search-field.c--focus-first {
  border: 2px solid #65abd0; }

.c-inputs__search-submit.c--focus-first {
  border: 2px solid #65abd0; }

.c-inputs__search-submit.c--round {
  border-right: none;
  border-radius: 24px 0 0 24px;
  background-color: #fff; }

.c-inputs__search-field.c--round {
  width: 82%;
  border-left: none;
  border-radius: 0 24px 24px 0; }

.search-icon {
  position: absolute;
  top: 32%;
  left: 6%;
  width: 12px;
  height: 12px;
  transform: rotate(-45deg);
  color: #b4bbc2;
  border: solid 2px #b4bbc2;
  border-radius: 100%; }

.search-icon:before {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 2px;
  height: 8px;
  content: '';
  background-color: #b4bbc2; }

.search-icon.c--focus-first {
  border-color: #494949; }

.search-icon.c--focus-first:before {
  background-color: #494949; }

.cancel-icon {
  position: absolute;
  top: 27%;
  right: 10%;
  width: 20px;
  height: 20px;
  border: 1px solid #b4bbc2;
  border-radius: 100%;
  background-color: #b4bbc2; }

.cancel-icon:before {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #fff; }

.cancel-icon:after {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #fff; }

.c-inputs__search-field.c--outfocus-second {
  border: 2px solid #c6ccd2; }

.c-inputs__search-submit.c--outfocus-second {
  width: 21%;
  border: 2px solid #c6ccd2;
  background-color: #c6ccd2; }

.c-inputs__search-field.c--rectangular {
  padding-left: 14px;
  border-right: none;
  border-radius: 6px 0 0 6px; }

.c-inputs__search-submit.c--rectangular {
  border-left: none;
  border-radius: 0 6px 6px 0; }

.search-icon.c--outfocus-second {
  top: 25%;
  left: 84%;
  width: 15px;
  height: 15px;
  border-color: #fff; }

.search-icon.c--outfocus-second:before {
  top: 13px;
  left: 4px;
  height: 10px;
  background-color: #fff; }

.c-inputs__search-field.c--focus-second {
  width: 73%;
  margin-right: 10px;
  border: 2px solid #c6ccd2;
  border-radius: 6px; }

.c-inputs__search-submit.c--focus-second {
  width: 22%;
  border: 2px solid #24aa98;
  border-radius: 6px;
  background-color: #24aa98; }

/* SMALL */
.c-inputs.c--small {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* SMALL EMAILS */
.c-inputs__email--small {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 9px;
  color: #494949;
  border: 2px solid #c6ccd2;
  border-radius: 6px; }

.c-inputs__email--small.c--outfocus:focus {
  border-color: #65abd0; }

.c-inputs__email--small.c--focus {
  border-color: #65abd0; }

.c-inputs__email--small.c--correct {
  border-color: #24aa98; }

.correct-icon--small {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 13px;
  height: 7px;
  transform: rotate(-45deg);
  color: #24aa98;
  border-bottom: solid 2px #24aa98;
  border-left: solid 2px #24aa98; }

.c-inputs__email--small.c--incorrect {
  border-color: #db7560; }

.incorrect-icon--small {
  position: absolute;
  top: 33%;
  right: 10%;
  color: #db7560; }

.incorrect-icon--small:before {
  position: absolute;
  width: 13px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #db7560; }

.incorrect-icon--small:after {
  position: absolute;
  width: 13px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #db7560; }

.c-inputs__search-field--small {
  font-size: 14px;
  font-weight: bold;
  width: 78%;
  padding: 9px 9px 9px 0;
  color: #494949; }

.c-inputs__search-submit--small {
  font-size: 14px;
  padding: 8px; }

.c-inputs__search-field--small.c--outfocus-first {
  border: 2px solid #c6ccd2; }

.c-inputs__search-submit--small.c--outfocus-first {
  border: 2px solid #c6ccd2; }

.c-inputs__search-field--small.c--focus-first {
  border: 2px solid #65abd0; }

.c-inputs__search-submit--small.c--focus-first {
  border: 2px solid #65abd0; }

.c-inputs__search-submit--small.c--round {
  border-right: none;
  border-radius: 24px 0 0 24px;
  background-color: #fff; }

.c-inputs__search-field--small.c--round {
  width: 87%;
  border-left: none;
  border-radius: 0 24px 24px 0; }

.c-inputs__search-field--small.c--outfocus-second {
  border: 2px solid #c6ccd2; }

.c-inputs__search-submit--small.c--outfocus-second {
  width: 21%;
  border: 2px solid #c6ccd2;
  background-color: #c6ccd2; }

.c-inputs__search-field--small.c--rectangular {
  padding-left: 14px;
  border-right: none;
  border-radius: 6px 0 0 6px; }

.c-inputs__search-submit--small.c--rectangular {
  border-left: none;
  border-radius: 0 6px 6px 0; }

.c-inputs__search-field--small.c--focus-second {
  width: 73%;
  margin-right: 10px;
  border: 2px solid #c6ccd2;
  border-radius: 6px; }

.c-inputs__search-submit--small.c--focus-second {
  width: 22%;
  border: 2px solid #24aa98;
  border-radius: 6px;
  background-color: #24aa98; }

.search-icon--small {
  position: absolute;
  top: 23%;
  left: 4%;
  width: 12px;
  height: 12px;
  transform: rotate(-45deg);
  color: #b4bbc2;
  border: solid 2px #b4bbc2;
  border-radius: 100%; }

.search-icon--small:before {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 2px;
  height: 8px;
  content: '';
  background-color: #b4bbc2; }

.search-icon--small.c--focus-first {
  border-color: #494949; }

.search-icon--small.c--focus-first:before {
  background-color: #494949; }

.cancel-icon--small {
  position: absolute;
  top: 18%;
  right: 10%;
  width: 20px;
  height: 20px;
  border: 1px solid #b4bbc2;
  border-radius: 100%;
  background-color: #b4bbc2; }

.cancel-icon--small:before {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #fff; }

.cancel-icon--small:after {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #fff; }

.search-icon--small.c--outfocus-second {
  top: 18%;
  left: 84%;
  width: 15px;
  height: 15px;
  border-color: #fff; }

.search-icon--small.c--outfocus-second:before {
  top: 13px;
  left: 4px;
  height: 10px;
  background-color: #fff; }

.c-comments {
  display: -ms-flexbox;
  display: flex;
  padding: 36px 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.c-comment {
  width: 50%;
  height: 150px; }

.c-comment-field {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: #494949;
  border: 2px solid #c6ccd2;
  border-radius: 6px; }

.c-comment-field:focus {
  border-color: #65abd0; }

.c-comment-field.c--focus {
  border-color: #65abd0; }

.c-settings {
  padding: 36px 120px; }

.c-settings__select.c--inactive {
  width: 220px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding: 13px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  background-color: #24aa98;
  margin-bottom: 25px; }

.c-settings__select.c--inactive:after {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(135deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  cursor: pointer; }

.c-settings__select.c--active {
  width: 220px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 25px; }
  .c-settings__select.c--active ul {
    width: 100%; }
  .c-settings__select.c--active li:first-of-type {
    background-color: #24aa98;
    padding: 13px;
    border-radius: 6px 6px 0 0; }
  .c-settings__select.c--active li:not(first-of-type) {
    background-color: #1a9385;
    padding: 13px;
    border-top: 1px solid #1a877b; }
  .c-settings__select.c--active li:last-of-type {
    border-radius: 0 0 6px 6px; }

.c-settings__select.c--active:after {
  position: absolute;
  top: 12%;
  right: 10%;
  width: 7px;
  height: 7px;
  content: '';
  transform: rotate(-45deg);
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  cursor: pointer; }

.c-settings__radio-check {
  font-size: 16px;
  font-weight: bold; }

.c-settings__radio {
  padding: 13px;
  position: relative; }
  .c-settings__radio input[type='radio'] {
    opacity: 0; }
  .c-settings__radio input[type='radio'] + span {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 10px;
    width: 100%;
    height: 70%;
    cursor: pointer;
    background: url(../images/radio.png) no-repeat;
    background-position: 0 16px; }
  .c-settings__radio input[type='radio']:checked + span {
    z-index: -1;
    background-position: 0 -16px;
    top: 16px; }
  .c-settings__radio input[type='radio']:disabled ~ label {
    color: #c6ccd2; }
  .c-settings__radio label {
    padding-left: 13px; }

.c-settings__check {
  padding: 13px;
  position: relative; }
  .c-settings__check input[type='checkbox'] {
    opacity: 0; }
  .c-settings__check input[type='checkbox'] + span {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 10px;
    width: 100%;
    height: 70%;
    cursor: pointer;
    background: url(../images/checkbox.png) no-repeat;
    background-position: 0 16px; }
  .c-settings__check input[type='checkbox']:checked + span {
    z-index: -1;
    background-position: 0 -16px;
    top: 16px; }
  .c-settings__check input[type='checkbox']:disabled ~ label {
    color: #c6ccd2; }
  .c-settings__check label {
    padding-left: 13px; }

.c-on-off--light input[type='radio'] {
  opacity: 0; }

.c-on-off--light label {
  position: relative;
  display: block;
  width: 72px;
  height: 36px;
  padding: 7px;
  border-radius: 20px;
  color: #24aa98;
  border: 2px solid #c6ccd2;
  font-weight: bold; }

.c-on-off--light label:before {
  content: "Off";
  position: absolute;
  right: 10px;
  color: #c6ccd2; }

.c-on-off--light label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: #c6ccd2;
  transition: .5s; }

.c-on-off--light input[type='radio']:checked ~ label:after {
  left: 33px;
  background-color: #24aa98; }

.c-on-off--light input[type='radio']:checked ~ label {
  border-color: #24aa98; }

.c-on-off--dark input[type='radio'] {
  opacity: 0; }

.c-on-off--dark label {
  position: relative;
  display: block;
  width: 72px;
  height: 36px;
  padding: 7px;
  border-radius: 20px;
  color: #fff;
  background-color: #c6ccd2;
  border: 2px solid #c6ccd2;
  font-weight: bold; }

.c-on-off--dark label:before {
  content: "Off";
  position: absolute;
  right: 10px;
  color: #fff; }

.c-on-off--dark label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: #fff;
  transition: .5s; }

.c-on-off--dark input[type='radio']:checked ~ label:after {
  left: 33px; }

.c-on-off--dark input[type='radio']:checked ~ label {
  border-color: #24aa98;
  background-color: #24aa98; }

.c-table {
  display: -ms-flexbox;
  display: flex;
  padding: 36px 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.c-table__categories-wrapper {
  width: 160px; }

.c-table__categories-header-border {
  border-top: 2px solid #dee2e7; }

.c-table__categories {
  font-weight: bold;
  width: 100%;
  text-align: left; }
  .c-table__categories th {
    font-size: 14px;
    padding: 10px;
    color: #b4bbc2;
    border-radius: 6px; }
  .c-table__categories td {
    font-size: 16px;
    padding: 10px;
    color: #383737;
    border-radius: 6px; }
  .c-table__categories td:hover {
    color: #fff;
    background-color: #65abd0; }

.c-table__music-wrapper {
  width: 700px; }

.c-table__music {
  font-weight: bold;
  width: 100%;
  border-collapse: collapse;
  text-align: left; }
  .c-table__music th {
    font-size: 14px;
    padding: 15px;
    color: #b4bbc2;
    border-radius: 6px; }
  .c-table__music td {
    font-size: 16px;
    padding: 15px;
    color: #383737;
    border-top: 2px solid #dee2e7;
    border-radius: 6px; }
  .c-table__music td:first-child {
    color: #b4bbc2; }
  .c-table__music form {
    position: relative; }
  .c-table__music input[type='checkbox'] {
    opacity: 0; }
  .c-table__music input[type='checkbox'] + span {
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 0;
    width: 100%;
    height: 85%;
    cursor: pointer;
    background: url(../images/checkbox.png) no-repeat; }
  .c-table__music input[type='checkbox']:checked + span {
    z-index: -1;
    background-position: 0 -16px; }

.c-notifications {
  padding: 36px 120px; }

.c-notification {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: 12px;
  padding: 20px;
  color: #fff;
  border-radius: 6px; }

.c-notification.c--ok {
  background-color: #24aa98; }

.c-notification.c--warning {
  background-color: #d9c26c; }

.c-notification.c--error {
  background-color: #db7560; }

.c-notification-submit {
  font-size: 14px;
  font-weight: bold;
  min-width: 120px;
  margin-top: 12px;
  padding: 10px 25px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #e79f91; }

.close-icon-notification {
  position: absolute;
  top: 29px;
  right: 29px;
  cursor: pointer; }

.close-icon-notification:before {
  position: absolute;
  width: 15px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #fff; }

.close-icon-notification:after {
  position: absolute;
  width: 15px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #fff; }

.c-popovers {
  display: -ms-flexbox;
  display: flex;
  padding: 36px 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.c-popover {
  position: relative;
  width: 49%;
  height: 204px;
  border-radius: 6px; }
  .c-popover p {
    font-weight: bold; }
  .c-popover a {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    min-width: 17%;
    margin-left: 25px;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px; }

.c-popover.c--light {
  border: 2px solid #383737; }
  .c-popover.c--light p {
    color: #383737; }

.c-popover.c--dark {
  background-color: #4c4b4b; }
  .c-popover.c--dark p {
    color: #fff; }

.c-popover-header {
  font-size: 24px;
  padding: 25px 25px 15px 25px; }

.c-popover-text {
  font-size: 16px;
  padding: 0 25px 20px 25px; }

.c-popover-yes--light {
  color: #fff;
  background-color: #24aa98; }

.c-popover-not--light {
  color: #fff;
  background-color: #65abd0; }

.c-popover-yes--dark {
  color: #24aa98;
  border: 2px solid #24aa98; }

.c-popover-not--dark {
  color: #d9c26c;
  border: 2px solid #d9c26c; }

.close-icon--light {
  position: absolute;
  top: 10%;
  right: 6%;
  cursor: pointer; }

.close-icon--light:before {
  position: absolute;
  width: 15px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #383737; }

.close-icon--light:after {
  position: absolute;
  width: 15px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #383737; }

.close-icon--dark {
  position: absolute;
  top: 10%;
  right: 6%;
  cursor: pointer; }

.close-icon--dark:before {
  position: absolute;
  width: 15px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background-color: #fff; }

.close-icon--dark:after {
  position: absolute;
  width: 15px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background-color: #fff; }

/*# sourceMappingURL=style.css.map */
