* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 1180px;
  margin: 0 auto;
  font-family: "Cabin", Arial, sans-serif; }

.c-footer {
  height: 672px;
  background: url(../images/back.jpg) no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
  padding: 80px 120px; }
  .c-footer__logo {
    width: 150px; }
  .c-footer__menu-item {
    width: 150px; }
  .c-footer__menu-subitem {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02rem;
    color: #9d9d9e; }
    .c-footer__menu-subitem:first-child {
      color: #fff;
      line-height: 2.25;
      text-transform: uppercase;
      letter-spacing: 0.05rem; }
    .c-footer__menu-subitem.new {
      position: relative; }
      .c-footer__menu-subitem.new::after {
        content: 'NEW';
        color: #383737;
        border: 1px solid transparent;
        background-color: #d9c26c;
        border-radius: 6px;
        position: absolute;
        margin-left: 10px;
        font-size: 14px;
        letter-spacing: 0.05rem;
        width: 52px;
        height: 28px;
        text-align: center; }
  .c-footer__other {
    width: 260px; }
  .c-footer__social-title {
    display: block;
    line-height: 2.25;
    letter-spacing: 0.05rem;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .c-footer__social-item {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid; }
    .c-footer__social-item:not(:last-child) {
      margin-right: 10px; }
    .c-footer__social-item.c--facebook {
      background-color: #3162a2;
      border-color: #3162a2; }
    .c-footer__social-item.c--twitter {
      background-color: #2eb1eb;
      border-color: #2eb1eb; }
    .c-footer__social-item.c--dribbble {
      background-color: #f552b6;
      border-color: #f552b6; }
    .c-footer__social-item.c--vimeo {
      background-color: #3498b9;
      border-color: #3498b9; }
    .c-footer__social-item.c--google-plus {
      background-color: #f25c58;
      border-color: #f25c58; }
    .c-footer__social-item-img {
      height: 14px;
      width: auto; }
  .c-footer__subscribe {
    margin-top: 50px;
    margin-bottom: 40px; }
    .c-footer__subscribe-title {
      display: block;
      line-height: 2.25;
      letter-spacing: 0.05rem;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase; }
    .c-footer__subscribe-text {
      display: block;
      line-height: 1.25;
      letter-spacing: 0.02rem;
      color: #9d9d9e;
      font-size: 16px;
      margin-bottom: 15px; }
    .c-footer__subscribe-input-wrapper {
      display: inline-block;
      width: 202px;
      height: 36px;
      margin-right: 10px; }
    .c-footer__subscribe-input {
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      border-radius: 6px;
      font-size: 14px;
      letter-spacing: 0.02rem;
      line-height: 1.71;
      padding: 10px;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.25);
      outline: none; }
    .c-footer__subscribe-submit-wrapper {
      width: 36px;
      height: 36px;
      position: relative;
      display: inline-block;
      vertical-align: bottom; }
      .c-footer__subscribe-submit-wrapper::before {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(50% - 1px);
        width: 5px;
        height: 5px;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center; }
    .c-footer__subscribe-submit {
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      background-color: #24aa98;
      outline: none;
      border-radius: 6px; }
  .c-footer__main-menu-item {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02rem;
    color: #9d9d9e; }
    .c-footer__main-menu-item:first-child {
      color: #fff;
      line-height: 2.25;
      text-transform: uppercase;
      letter-spacing: 0.05rem; }
  .c-footer__copyright {
    position: absolute;
    bottom: 30px;
    right: 120px;
    line-height: 2.57;
    letter-spacing: 0.02rem;
    font-size: 14px;
    color: #9d9d9e; }

/*# sourceMappingURL=style.css.map */
